SECRET_KEY=0909bbedfb90339b95703561a7432a4442da69a7b47061180194520dbe2c76de

DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/userdb

EXTERNAL_API_URL=https://pokeapi.co/api/v2

# For docker implementation
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=userdb
POSTGRES_DB_TESTING=test_userdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432